body {
	background-color: #000000;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 62.5%; 
	margin: 0;
}

#container {
	max-width: 900px;
	margin: 0 auto;
	padding-top: 30px;

}
.square {
	width: 30%;
	background-color: rgb(41, 128, 0);
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	transition: background .5s;
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	-o-transition: background .5s;
}

h1 {
	color: rgb(0, 0, 0);
	background-color: #2d0349;
	font-size: 3.5em;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 10px 0;
	
}

#color-display {
	display: block;
	font-size: 1.5em;
}

#stripe {
	background: rgb(28, 11, 43);
	height: 30px;
	text-align: center;
	color: black;
}

#message {
	text-transform: uppercase;
	color: rgb(133, 13, 117);;
	font-size: 1.5em;
	display: inline-block;
	width: 20%;
}

button {
	outline: none;
	color: rgb(133, 13, 117);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-transform: uppercase;
	font-size: 1.5em;
	background-color: rgb(28, 11, 43);
	height: 100%;
	letter-spacing: 1px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	border-radius: 10%;
}

button:hover {
	background-color: rgb(89, 9, 109);
	color: rgb(31, 1, 27);
}

.selected {
	background-color: rgb(89, 9, 109);
	color: rgb(31, 1, 27);
}

.square {
	border-radius: 50%;
}

* {
	border: 0px solid rgb(8, 8, 8);
}


